

/*-----------------------------------------------------------------------------------------------------*\
*  Sección de experiencia profesional y no profesional
\*-----------------------------------------------------------------------------------------------------*/


dl.c-experiencia {
  dt {
    padding: 1rem;
    font-size: 2.5vh;
    font-weight: bolder;
    color: $font-color;
    @media ( max-width: $mqMinWidth ) {
      font-size:14px;
    }
  }
}


